// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);
@import "../node_modules/bootstrap/scss/bootstrap";